body {
    background-color: rgb(230, 242, 138);
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    background-color: brown
    padding: 10px;

}
#main-title {
    color: #060000;
}
.about-text {
    color: rgb(243, 164, 244)
    font-size: 16px;
}
.main-photo {
    border: 3px rgb(86, 132, 109);
}